/*  FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,700;1,400&display=swap');

$fontFamily:'Titillium Web', sans-serif; //text font
$titleFont:'Montserrat Alternates', sans-serif;  // titles font
$xxsFont:1rem;
$smFont:1.5rem; 
$mdFont:2rem;
$lFont:2.5rem;
$xlFont:2.7rem;
$xxlFont:3.2rem;
$bold:700;
$normal:500;
